{% extends 'base.html.twig' %}

{% block title %}Detalle del artículo{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8" style="border: 1px solid black;">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="{{ image_path }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-12">
                            <span>{{ auction.title}}</span>
                        </div>
                        <div class="col-12">
                            <span>{{ auction.category}}</span>
                        </div>
                        <div class="col-12">
                            <span>{{ auction.location}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="border: 1px solid red">
            <h3>Listado de pujas</h3>
            <div class="col-12">
                <span>{{'Puja actual: ' ~ auction.price ~ ' € '}}</span>
            </div>
        </div>
    </div>


</div>
{% endblock %}
