{% extends 'base.html.twig' %}

{% block title %}Todas las subastas{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="title">Todas las subastas</h1>

            <div class="row">
                <div class="card-group">
                    {% for auction in auctions %}
                    <div class="card">
                        <img class="card-img-top" src="{{ image_path }}" alt="Card image cap">
                        <div class="card-body">
                            <div class="col-12">
                                <span>{{ auction.title}}</span>
                            </div>
                            <div class="col-12">
                                <span>{{ auction.category}}</span>
                            </div>
                            <div class="col-12">
                                <span>{{ auction.price}}</span><span>€</span>
                            </div>
                            <div class="col-12">
                                <span>{{ auction.location}}</span>
                            </div>
                            <div class="col-12">
                                <a href="{{ path('auction_detail', {'id':auction.id}) }}" type="button" class="btn btn-block btn-flat btn-primary">Pujar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>

        </div>
    </div>

</div>
{% endblock %}
